@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red: #ef233c;
  --primary-hover: #d90429;
}

body {
  @apply bg-white text-gray-800 font-[Poppins];
}
